<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-yaanki</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>357C9DD0-990A-4866-A034-FB2A89858127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47781016-8C89-4ABC-B00B-61831A6D73C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47781016-8C89-4ABC-B00B-61831A6D73C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1D75E73-5F42-4289-894D-1A5BAC2114CC</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show card back in large type</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7962BD19-5951-417F-AA2C-2094F1C5AAD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45876BA-DC0B-45A1-8142-0EC60F229D6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABA96927-9C04-4E34-8287-DA5AA47094D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>183DFAB4-92D1-46C1-A43A-802F33856F1B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show front in large type</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4BD5E00-0E63-4AA5-96B1-F1F931545FBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>875F747E-C9E3-4925-A3CC-0EE03BB66263</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B969CAED-533E-414A-A184-0BFD4450F13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>yet another anki alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>yaanki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>New card added to {var:DEFAULT_DECK_NEW}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Create a new Anki card with yaanki</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>study</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-ansEval.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-ops.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47781016-8C89-4ABC-B00B-61831A6D73C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>study</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A45876BA-DC0B-45A1-8142-0EC60F229D6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!s</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>... remember to close the Anki app</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>searching ANKI ...⏳</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!a</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-enterNewCard.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>enter front and back separated by //, --b to invert</string>
				<key>title</key>
				<string>yaanki – Enter a new Anki card</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>newCard</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>875F747E-C9E3-4925-A3CC-0EE03BB66263</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>newCard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki_createNewCard.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C1D75E73-5F42-4289-894D-1A5BAC2114CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>183DFAB4-92D1-46C1-A43A-802F33856F1B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/giovannicoppola/alfred-yaanki/main/source/info.plist'
readonly workflow_url='https://github.com/giovannicoppola/alfred-yaanki'
readonly download_type='github_release'
readonly frequency_check='3'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4BD5E00-0E63-4AA5-96B1-F1F931545FBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B969CAED-533E-414A-A184-0BFD4450F13B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listDecks</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>listDecks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yaanki:decks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 chooseDecks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>select the decks to include in search</string>
				<key>title</key>
				<string>yaanki:decks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set bundleID to (system attribute "alfred_workflow_bundleid")

tell application id "com.runningwithcrayons.Alfred"
    set configuration "DEFAULT_DECKS" to value (item 1 of argv) in workflow bundleID with exportable
end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>yaanki – yet another anki alfred (workflow) is a workflow to quickly review or add new cards to your anki decks. Anki is a complex software and I have not tested all possible use cases. Also, the scheduling algorithm is simplified (more details in the readme file). Please backup your decks and let me know if you see bugs or have other suggestions. 

# usage 📖
## creating new cards 📝
- you can create a new card by entering the corresponding keyword (default: `!a`) or hotkey, then entering (or pasting into Alfred) the text of front and back separated by `//`. `--b` will invert front and back. New cards will be added to the deck listed in the `DEFAULT_DECK_NEW` Alfred environment variable, or – if that is not set – the `Default` deck. 
- Universal Action: new cards can also be created by selecting text in any app, then launching Universal Actions and selecting 'Create New Anki Card with yaanki`. 

 
## looking up a card 📇

- launch yaanki by entering the corresponding keyword (default: `!s`) or hotkey and search for a card by typing in Alfred. yaanki will show the front of the card, and the deck it is from. The Anki star color will indicate the due status. Hitting `Enter` will show the back of the card and the times (or days) it will be due based on the outcome you will indicate. 
- `ctrl-Enter` will show card details (date creation, number of reviews, due date etc)
- `option-Enter` will show the card front in large type
- 🖼️ denotes an image present in the card front or back. Hit `Shift` to show it in preview 

## studying with yaanki 🗂️ 
- you can set the decks from which cards are presented by entering `yaanki:decks` in Alfred, or setting a hotkey. Shift-Enter will add or remove a deck from the list. THe deck list can also be edited in Alfred's workflow variables. 
- launch yaanki with keyword or hotkey. if no search text is entered, cards are presented ordered by due date (new cards first), so review all the ones that are overdue</string>
	<key>uidata</key>
	<dict>
		<key>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</key>
		<dict>
			<key>xpos</key>
			<integer>1875</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</key>
		<dict>
			<key>note</key>
			<string>Show card info</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>183DFAB4-92D1-46C1-A43A-802F33856F1B</key>
		<dict>
			<key>note</key>
			<string>Show card front in large type</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>357C9DD0-990A-4866-A034-FB2A89858127</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Enter a new card</string>
			<key>xpos</key>
			<integer>1510</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>47781016-8C89-4ABC-B00B-61831A6D73C9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Updating tables</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</key>
		<dict>
			<key>note</key>
			<string>answer</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>7962BD19-5951-417F-AA2C-2094F1C5AAD9</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>875F747E-C9E3-4925-A3CC-0EE03BB66263</key>
		<dict>
			<key>xpos</key>
			<integer>1870</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>A45876BA-DC0B-45A1-8142-0EC60F229D6C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>ABA96927-9C04-4E34-8287-DA5AA47094D6</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</key>
		<dict>
			<key>note</key>
			<string>Create a new card</string>
			<key>xpos</key>
			<integer>1695</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>B969CAED-533E-414A-A184-0BFD4450F13B</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>C1D75E73-5F42-4289-894D-1A5BAC2114CC</key>
		<dict>
			<key>note</key>
			<string>Show card back in large type</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>C4BD5E00-0E63-4AA5-96B1-F1F931545FBE</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>AGAININTERVAL</key>
		<string>60</string>
		<key>ANKI_DATABASE</key>
		<string>~/Library/Application Support/Anki2/User 1/collection.anki2</string>
		<key>DEFAULT_DECKS</key>
		<string>Default</string>
		<key>DEFAULT_DECK_NEW</key>
		<string>Default</string>
		<key>DEFAULT_NEWCARD_TYPE</key>
		<string>Basic (optional reversed card)</string>
		<key>EASE_FACTOR</key>
		<string>2500</string>
		<key>EASYINTERVAL</key>
		<string>4</string>
		<key>EASY_BONUS</key>
		<string>1.3</string>
		<key>GOODINTERVAL</key>
		<string>600</string>
		<key>GRAD_INTERVAL</key>
		<string>1</string>
		<key>INT_MODIFIER</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-yaanki</string>
</dict>
</plist>
