<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-yaanki</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>357C9DD0-990A-4866-A034-FB2A89858127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47781016-8C89-4ABC-B00B-61831A6D73C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47781016-8C89-4ABC-B00B-61831A6D73C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1D75E73-5F42-4289-894D-1A5BAC2114CC</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show card back in large type</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7962BD19-5951-417F-AA2C-2094F1C5AAD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45876BA-DC0B-45A1-8142-0EC60F229D6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABA96927-9C04-4E34-8287-DA5AA47094D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>183DFAB4-92D1-46C1-A43A-802F33856F1B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show front in large type</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>875F747E-C9E3-4925-A3CC-0EE03BB66263</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B969CAED-533E-414A-A184-0BFD4450F13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>yet another anki alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>yaanki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>New card added to {var:DEFAULT_DECK_NEW}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Create a new Anki card with yaanki</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>study</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-ansEval.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-ops.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47781016-8C89-4ABC-B00B-61831A6D73C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>study</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A45876BA-DC0B-45A1-8142-0EC60F229D6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>... remember to close the Anki app</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>searching ANKI ...⏳</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABA96927-9C04-4E34-8287-DA5AA47094D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:createkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki-enterNewCard.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>enter front and back separated by //, --b to invert</string>
				<key>title</key>
				<string>yaanki – Enter a new Anki card</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>357C9DD0-990A-4866-A034-FB2A89858127</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>newCard</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>875F747E-C9E3-4925-A3CC-0EE03BB66263</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>newCard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 yaanki_createNewCard.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C1D75E73-5F42-4289-894D-1A5BAC2114CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>183DFAB4-92D1-46C1-A43A-802F33856F1B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B969CAED-533E-414A-A184-0BFD4450F13B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listDecks</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>listDecks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yaanki:decks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 chooseDecks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>select the decks to include in search</string>
				<key>title</key>
				<string>yaanki:decks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7962BD19-5951-417F-AA2C-2094F1C5AAD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set bundleID to (system attribute "alfred_workflow_bundleid")

tell application id "com.runningwithcrayons.Alfred"
    set configuration "DEFAULT_DECKS" to value (item 1 of argv) in workflow bundleID with exportable
end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>yaanki – yet another anki alfred (workflow) is a workflow to quickly review or add new cards to your anki decks. Anki is a complex software and I have not tested all possible use cases. Also, the scheduling algorithm is simplified (more details in the readme file). Please backup your decks and let me know if you see bugs or have other suggestions. 

# usage 📖
## creating new cards 📝
- you can create a new card by entering the keyword (default: `!a`) or hotkey, then entering (or pasting into Alfred) the text of front and back separated by `//`. `--b` will invert front and back. New cards will be added to the deck listed in the `DEFAULT_DECK_NEW` Alfred environment variable, or – if that is not set – the `Default` deck. 
- Universal Action: new cards can also be created by selecting text in any app, then launching Universal Actions and selecting 'Create New Anki Card with yaanki`. 

 
## looking up a card 📇

- launch yaanki by entering the keyword (default: `!s`) or hotkey and search for a card by typing in Alfred. yaanki will show the front of the card, and the deck it is from. The Anki star color will indicate the due status. Hitting `Enter` will show the back of the card and the times (or days) it will be due based on the outcome you will indicate. 
- `ctrl-Enter` will show card details (date creation, number of reviews, due date etc)
- `option-Enter` will show the card front in large type
- 🖼️ denotes an image present in the card front or back. Hit `Shift` to show it in preview 

## studying with yaanki 🗂️ 
- you can set the decks from which cards are presented by entering `yaanki:decks` in Alfred, or setting a hotkey. Shift-Enter will add or remove a deck from the list. THe deck list can also be edited in Alfred's workflow variables. 
- launch yaanki with keyword or hotkey. if no search text is entered, cards are presented ordered by due date (new cards first), so review all the ones that are overdue</string>
	<key>uidata</key>
	<dict>
		<key>02DFC6DA-18E9-4F36-9D8A-EA37DBF8341C</key>
		<dict>
			<key>xpos</key>
			<real>1335</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>0643EB84-5E2A-47DD-9DAA-9D0B8ED82802</key>
		<dict>
			<key>xpos</key>
			<real>1875</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>0AE4A9C1-C5BB-49FA-934E-7AD799E7D0AA</key>
		<dict>
			<key>note</key>
			<string>Show card info</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>183DFAB4-92D1-46C1-A43A-802F33856F1B</key>
		<dict>
			<key>note</key>
			<string>Show card front in large type</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>2BD2F868-BE9D-4F5E-A74C-ABA27F68509F</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>357C9DD0-990A-4866-A034-FB2A89858127</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Enter a new card</string>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>47781016-8C89-4ABC-B00B-61831A6D73C9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Updating tables</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>509DF1B9-E2F0-4841-9D11-9797DBCEDB43</key>
		<dict>
			<key>note</key>
			<string>answer</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>7962BD19-5951-417F-AA2C-2094F1C5AAD9</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>875F747E-C9E3-4925-A3CC-0EE03BB66263</key>
		<dict>
			<key>xpos</key>
			<real>1870</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>A45876BA-DC0B-45A1-8142-0EC60F229D6C</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>ABA96927-9C04-4E34-8287-DA5AA47094D6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>search card</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>B374F707-621F-4F2E-AE3C-6FDFE2BA54C7</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>B6C41CBE-E3FC-4AB4-8F98-95BF95AE099B</key>
		<dict>
			<key>note</key>
			<string>Create a new card</string>
			<key>xpos</key>
			<real>1695</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>B969CAED-533E-414A-A184-0BFD4450F13B</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>BDE3C2C8-B67C-4BA0-9E3B-0D8F2DEEF258</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>C1D75E73-5F42-4289-894D-1A5BAC2114CC</key>
		<dict>
			<key>note</key>
			<string>Show card back in large type</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>C471A4A3-6F35-44F6-81C0-B1C13FF4A9F5</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>E4DB5F08-A4D0-4DEE-ACC3-0447D6AC4183</key>
		<dict>
			<key>xpos</key>
			<real>1335</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>F8D6F400-8ED9-49F6-B88A-EB5120AF5052</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>60</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Interval after which a card marked 🔴again becomes due</string>
			<key>label</key>
			<string>Again interval</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>AGAININTERVAL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>600</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Interval after which a card marked `🟢good` becomes due</string>
			<key>label</key>
			<string>Good Interval</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GOODINTERVAL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>4</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Interval after which a card marked 🍰easy becomes due</string>
			<key>label</key>
			<string>Easy Interval</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EASYINTERVAL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2500</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Ease factor</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EASE_FACTOR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Anki2/User 1/collection.anki2</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>User folder with Anki decks</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ANKI_DATABASE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Miscellanea</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>New cards will be added to the deck listed here or – if that is not set – the `Default` deck.</string>
			<key>label</key>
			<string>Deck for new cards</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEFAULT_DECK_NEW</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Default</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set here, or through the yaanki:decks command</string>
			<key>label</key>
			<string>Comma-separated default decks</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEFAULT_DECKS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1.5</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Easy Bonus</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EASY_BONUS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GRAD_INTERVAL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GRAD_INTERVAL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>INT_MODIFIER</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>INT_MODIFIER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Basic (optional reversed card)</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Type of new cards</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEFAULT_NEWCARD_TYPE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!s</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword (search)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!a</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New Card Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>createkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-yaanki</string>
</dict>
</plist>
